/*-- scss:defaults --*/
body {
    // By default, EB Garamond uses "old-styles" numerics which have a baseline offset
    // for some numerals. This turns that ugly feature off.
    font-variant-numeric: lining-nums;
}

dl.code-annotation-container-grid dt {
    // needed because I have changed the font
    line-height: 20px !important;
}

// Hide #TOC-body on wide screens
#TOC-body {
    display: none;
}

// And show it one thin screens
@media (max-width: 767.98px) {
    #TOC-body {
        display: block;
    }
}

$mermaid-font-family: "EB Garamond, Georgia, serif";
$mermaid-label-bg-color: #000000;
$mermaid-label-fg-color: #000000;